model_config_list {
    config {
        name: "banana_model"
        base_path: "/FYP-Project/models/banana_model/"
        model_platform: "tensorflow"
        model_version_policy: {all: {}}
        }
    config {
        name: "mango_model"
        base_path: "/FYP-Project/models/mango_model/"
        model_platform: "tensorflow"
        model_version_policy: {all: {}}
        }
    config {
        name: "sugarcane_model"
        base_path: "/FYP-Project/models/sugarcane_model/"
        model_platform: "tensorflow"
        model_version_policy: {all: {}}
        }
    config {
        name: "wheat_model"
        base_path: "/FYP-Project/models/wheat_model/"
        model_platform: "tensorflow"
        model_version_policy: {all: {}}
        }
    config {
        name: "rice_model"
        base_path: "/FYP-Project/models/rice_model/"
        model_platform: "tensorflow"
        model_version_policy: {all: {}}
        }
    config {
        name: "leaf_classifier_model"
        base_path: "/FYP-Project/models/leaf_classifier_model/"
        model_platform: "tensorflow"
        model_version_policy: {all: {}}
        }

    }